.input-container {
  position: relative;
  margin-bottom: 2rem;

}
#image{
    background-color: #BBBEC7;
    width: 50%;
    
}

.input-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('/img/profile.png');
  background-repeat: no-repeat;
  background-size: contain;

}

#input-with-icon {
  padding: .5rem;
  padding-left: 40px;
  border-radius: 10rem;
  border: 1px #BBBEC7 solid;
  width: 20rem;
}
#Sign{
    border-radius: 10rem;
    margin-top: 3rem;
}

